body{
    background-color: #2B1433;
}

#navbar-links a{
    color: #FFFFFF;
}
#nav-container{
    background-color: #2B1433;
}

#logo{
    width: 75px;
}

#sobre-nos-conteudo{
    background-color: #3C0F50;
}

h3{
    color: #FFFFFF;
}

h4{
    text-align: center;
    color: #FFFFFF;
}

p{
    text-align: center;
    color: #FFFFFF;
}
