/* NORMAL */

button[data-normal="true"]{
    animation: appearingText .5s normal ease-out;
}

@keyframes appearingText {
    0% {
        color: #410C85;
    }
    100% {
        color: #FFF;
    }
}

/* SUCCESS */

button[data-success="true"]{
    color: #410C85;
}

button[data-success="true"] ~ .growing-bg-success {
    background: #008000;
    animation: normal 3s success linear;
}

@keyframes success {
    0% {
        color: rgba(0, 128, 0, 0);
        width: 0%;
        background: rgb(0,128,0);
        background: linear-gradient(138deg, rgba(0,128,0,1) 0%, rgba(6,91,6,1) 33%, rgba(0,128,0,1) 66%, rgba(6,91,6,1) 100%);
        border-radius: .5rem 25% 90% .5rem / .5rem 1% 95% .5rem;
    }
    12% {
        color: #008000;
        background: rgb(0,128,0);
        background: linear-gradient(138deg, rgba(0,128,0,1) 0%, rgba(6,91,6,1) 33%, rgba(0,128,0,1) 66%, rgba(6,91,6,1) 100%);
    }
    13%{
        color: #FFF;
        width: 100%;
        background: rgb(0,128,0);
        background: linear-gradient(138deg, rgba(0,128,0,1) 0%, rgba(6,91,6,1) 33%, rgba(0,128,0,1) 66%, rgba(6,91,6,1) 100%);
        border-radius: .5rem;
    }
    70% {
        color: #FFF;
        background: rgb(0,128,0);
        background: linear-gradient(138deg, rgba(0,128,0,1) 0%, rgba(6,91,6,1) 33%, rgba(0,128,0,1) 66%, rgba(6,91,6,1) 100%);
    }
    70.1% {
        background: rgb(0,128,0);
    }
    100% {
        color: rgba(0, 128, 0, 0);
        background: #410C85;
    }
}

/* ERROR */

button[data-invalid="true"]{
    color: #410C85;
}

button[data-invalid="true"] ~ .growing-bg-error {
    background: #ef4444;
    background: linear-gradient(138deg, rgba(239,68,68,1) 0%, rgba(169,53,53,1) 41%, rgba(193,58,58,1) 66%, rgba(126,44,44,1) 100%);
    animation: normal 3s error linear forwards;
}

.growing-bg-error > svg {
    animation: normal linear 1s appearingError;
}

@keyframes error {
    0% {
        color: rgba(0, 128, 0, 0);
        width: 0%;
        background: #ef4444;
        background: linear-gradient(138deg, rgba(239,68,68,1) 0%, rgba(169,53,53,1) 41%, rgba(193,58,58,1) 66%, rgba(126,44,44,1) 100%);
        border-radius: .5rem 25% 90% .5rem / .5rem 1% 95% .5rem;
    }
    12% {
        color: #ef4444;
        background: rgb(239,68,68);
        background: linear-gradient(138deg, rgba(239,68,68,1) 0%, rgba(169,53,53,1) 41%, rgba(193,58,58,1) 66%, rgba(126,44,44,1) 100%);
    }
    13%{
        color: #FFF;
        width: 100%;
        background: rgb(239,68,68);
        background: linear-gradient(138deg, rgba(239,68,68,1) 0%, rgba(169,53,53,1) 41%, rgba(193,58,58,1) 66%, rgba(126,44,44,1) 100%);
        border-radius: .5rem;
    }
    70% {
        color: #FFF;
        background: rgb(239,68,68);
        background: linear-gradient(138deg, rgba(239,68,68,1) 0%, rgba(169,53,53,1) 41%, rgba(193,58,58,1) 66%, rgba(126,44,44,1) 100%);
    }
}

@keyframes appearingError {
    0% {
        opacity: 0;
        transform: translateY(-200%);
        scale: 1 1.2;
    }
    19% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    49% {
        scale: 1 1.2;
    }
    50% {
        transform: translateY(0%);
        scale: 1 1;
    }
    51% {
        scale: 1 .5;
    }
    70% {
        scale: 1 1;
    }

}

/* SHAKE ON ERROR */

input[data-invalid="true"] {
    animation: shake .5s;
}
input[data-invalid="true"] ~ img {
    animation: shake .5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(10px);
    }

    30% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(10px);
    }

    70% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    90% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* CHECK MARK */

.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: white;
    fill: #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    animation-delay: .5s;
}

.checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;

    animation: opacityCheckMark linear 3s;
}

.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    animation-delay: .5s;
}

@keyframes stroke{
    100%{stroke-dashoffset: 0}
}

@keyframes scale{
    0%, 100%{
        transform: none
    }
    50%{
        transform: scale3d(1.1, 1.1, 1)
    }
}
@keyframes fill{
    0% {
        fill: none;
    }
    100%{
        fill: #7ac142
    }
}

@keyframes opacityCheckMark {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    13%{
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}