.navbar {
    overflow: hidden;
    animation: openNav 1s ease-in-out;
}

.navbar > .nav-links {
    animation: appearingText .75s ease-out;
}

div:has(+ .nav-link:hover) {
    background-color: rgba(226, 232, 240, .1);
    backdrop-filter: blur(64px);
}

@keyframes openNav {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes appearingText {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}