*{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
}

#logo{
    width: 75px;
}

body{
    background-color: #2B1433;
}

#banner{
    margin-top: 4rem;
    background-image: url(https://images4.alphacoders.com/936/thumb-1920-936378.jpg);
    background-position: center center;
    background-size: cover;
    padding: 7rem;
    
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #FFFFFF;
}

.navbar-toggler{
    color:#2B1433;
}

.space-content{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 5rem;
}

.enunciado{
    color: #FFFFFF;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
    font-weight: bold;
}

.background-content{
    background-color: #3C0F50;
}

.equipe_cards{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #2B1433;
    color: #FFFFFF;
    text-align: center;
}

.contato_card, .project_cards, .depoimentos_cards{
    background-color: #3C0F50;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.project_cards, .depoimentos_cards{
    text-align: center;
}

.text{
    color: #FFFFFF;
    text-align: center;
}

.navbar{
    background-color: #2B1433;
}

.icons-sobrenos{
    width: 75px;
}

.contato-content-text, .contato-content-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#icons-contato{
    width: 40px;
}

.image-card{
    width: 150px;
    height: 150px;
}


.card-img-top{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

